// These styles are from Spark's docs:
// https://sparkdesignsystem.com/patterns/fundamentals/layout

.sprk-o-Box {
  border: 1px solid #ccc;
}

.sprk-o-CenteredColumn {
  background-color: #ccc;
  height: 4rem;
}
