@import '~@sparkdesignsystem/spark-core/settings/colors';
@import '~@sparkdesignsystem/spark-core/settings/settings';
@import '~@sparkdesignsystem/spark-core/base/links';

.ReactSparkExample-Nav {
  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      > a {
        @extend .sprk-b-Link;
        @extend .sprk-b-Link--standalone;

        padding: $space-inset-xs;

        &.active {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
