nav {
  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      > a {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
