// Styling taken from Spark's docs:
// https://sparkdesignsystem.com/patterns/fundamentals/grid
.sprk-o-Stack__item {
  background-color: rgba(253, 108, 69, 0.4);
  border: 2px solid #fc6c45;
  padding: 2rem;
}
